/* Copyright 2021 VMware, Inc. All rights reserved. -- VMware Confidential */

.banner {
    text-align: center;
    font-weight: bold;
    line-height: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    position: sticky;
}

.banner.none {
    display: none;
}

/* SECRET/NOFORN */
.banner.secret {
    background-color: #c8102e;
    color: white;
}

/* TOP-SECRET */
.banner.topsecret {
    background-color: #ff8c00;
    color: black;
}

/* TOP-SECRET/SCI */
.banner.topsecret_sci {
    background-color: #fce83a;
    color: black;
}

/* UNCLASSIFIED */
.banner.unclassified {
    background-color: #007a33;
    color: white;
}

/* CONFIDENTIAL */
.banner.confidential {
    background-color: #0033a0;
    color: white;
}

/* CONTROLLED | CUI */
.banner.controlled,
.banner.cui {
    background-color: #502b85;
    color: white;
}